<div class="password-reset">
    <div *ngIf="step === 1" class="step">
      <h2>Step 1: Enter Email</h2>
      <form (submit)="sendResetToken()" class="form">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" [(ngModel)]="email" name="email" required>
        </div>
        <button type="submit" class="submit-button">Send Reset Token</button>
      </form>
    </div>
  
    <div *ngIf="step === 2" class="step">
      <h2>Step 2: Enter Reset Token and New Password</h2>
      <form (submit)="resetPassword()" class="form">
        <div class="form-group">
          <label for="resetToken">Reset Token:</label>
          <input type="text" id="resetToken" [(ngModel)]="resetToken" name="resetToken" required>
        </div>
        <div class="form-group">
          <label for="newPassword">New Password:</label>
          <input type="password" id="newPassword" [(ngModel)]="newPassword" name="newPassword" required>
        </div>
        <div class="form-group">
          <label for="confirmNewPassword">Confirm New Password:</label>
          <input type="password" id="confirmNewPassword" [(ngModel)]="confirmNewPassword" name="confirmNewPassword" required>
        </div>
        <button type="submit" class="submit-button">Change Password</button>
      </form>
    </div>
  </div>
  