/* Add your own styles for the component */
[fadeIn] {
  opacity: 0;
}

.my-account-container {
  /* background-color: #f2f2f2; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  width: 300%;
  margin-left: -100%;
}

.my-account {
  /* background-color: #ffffff; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  width: 80%;
  max-width: 800px;
  padding: 20px;
  animation: slideInUp 0.5s ease;
}

@keyframes slideInUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.my-account-header {
  text-align: center;
  padding-bottom: 20px;
}

.my-account-header h2 {
  font-size: 24px;
  color: #e4d1d1;
}

.my-account-options {
  display: flex;
  flex-direction: column; /* Display sections vertically */
  align-items: center;
}

.student-section,
.teacher-section {
  /* background-color: #fff; */
  border: 1px solid #e1e1e1;
  border-radius: 8px;
  padding: 20px;
  width: 100%;
  text-align: center;
  animation: fadeIn 0.5s ease;
}

.student-section h3,
.teacher-section h3 {
  font-size: 20px;
  color: #ecc9c9;
  margin-bottom: 10px;
}

.student-section ul,
.teacher-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.student-section ul li,
.teacher-section ul li {
  margin-bottom: 10px;
}

.student-section ul li a,
.teacher-section ul li a {
  text-decoration: none;
  color: #007BFF;
  font-weight: bold;
}

/* Add Bootstrap icons styling */
.student-section ul li a i,
.teacher-section ul li a i {
  margin-right: 5px;
}

/* Add more specific styling as needed */
