<app-navbar></app-navbar>

<div class="my-account-container">
  <div class="my-account">
    <div class="my-account-header">
      <h2>Welcome to Your Dashboard</h2>
    </div>
    <div class="my-account-options">
      <div class="student-section">
        <h3>As a Student</h3>
        <ul>
          <li><a routerLink="/enrolled-courses"><i class="bi bi-book"></i>Enrolled Courses</a></li>
          <li><a routerLink="/search"><i class="bi bi-search"></i>Search Courses</a></li>
          <!-- <li><a href="#"><i class="bi bi-bar-chart"></i>My Progress</a></li> -->
        </ul>
      </div>
      <div class="teacher-section">
        <h3>As a Teacher</h3>
        <ul>
          <li><a routerLink="/create-course"><i class="bi bi-journal-plus"></i>Create Course</a></li>
          <li><a routerLink="/add-section"><i class="bi bi-file-earmark-plus"></i>Add Section</a></li>
          <li><a routerLink="/add-video"><i class="bi bi-camera-video"></i>Add Video</a></li>
          <li><a routerLink="/manage-courses"><i class="bi bi-gear"></i>Manage Courses</a></li>
          <li><a routerLink="/user-courses"><i class="bi bi-book"></i>Created Courses</a></li>
          <!-- <li><a href="#"><i class="bi bi-people"></i>My Students</a></li> -->
          <li><a routerLink="/chat"><i class="bi bi-chat-dots"></i>Messages</a></li>
          
          
        </ul>
      </div>
    </div>
  </div>
</div>
