/* Navbar Styles */
nav {
  margin: 10px auto 0;
  position: relative;
  width: 100%;
  max-width: 590px;
  height: 50px;
  background-color: #34495e;
  border-radius: 8px;
  font-size: 0;
}

nav a {
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  display: inline-block;
  position: relative;
  z-index: 1;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: white;
  cursor: pointer;
  padding: 0 10px;
}

nav .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}

/* Divide the width equally among 5 items */
a {
  width: 20%;
}

nav .start-home,
a:nth-child(1):hover~.animation {
  width: 20%;
  left: 0;
}

/* Add similar styles for other menu items */
/* Replace FontAwesome classes and text as needed */

nav a.active {
  color: rgb(36, 224, 209);
}

/* Desktop view (optional) */
@media screen and (min-width: 768px) {
  /* Increase card width */
  .container {
    max-width: 100%;
    margin: 0 auto;
  }
  /* Increase navbar width */
  nav {
    max-width: 70%;
    margin: 10px auto 0;
  }
}
