/* Navbar Styles */
.navbar {
  background-color: #007BFF; /* Choose your desired background color */
  padding: 15px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center; /* Center the contents horizontally */
  align-items: center; /* Center the contents vertically */
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.navbar-item {
  margin-right: 20px;
}

.navbar-item:last-child {
  margin-right: 0;
}

.navbar-item a {
  text-decoration: none;
  color: #fff; /* Text color */
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar-item a:hover {
  color: #FFD700; /* Text color on hover */
}

/* Optional: Add a hover effect for the entire navbar */
.navbar:hover {
  background-color: #0056b3; /* Background color on hover */
}

/* Optional: Add media queries for responsive design */
@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
  }

  .navbar-item {
    margin: 10px 0; /* Adjust spacing for smaller screens */
  }
}
