<nav>
  <a routerLink="/dashboard" [class.active]="isActive('/dashboard')">
    <i class="bi bi-house"></i>
  </a>
  <a routerLink="/account" [class.active]="isActive('/account')">
    <i class="bi bi-person"></i>
  </a>
  <a routerLink="/search" [class.active]="isActive('/search')">
    <i class="bi bi-search"></i>
  </a>
  <a routerLink="/chat" [class.active]="isActive('/chat')">
    <i class="bi bi-envelope"></i>
  </a>
  <a (click)="signout()" [class.active]="isActive('/logout')">
    <i class="bi bi-box-arrow-right"></i>
  </a>
  <div class="animation start-home"></div>
</nav>
