<app-navbar></app-navbar>
<div class="page-container">
  <div *ngIf="courseData" class="course-container">
    <button class="btn btn-success" (click)="enrollCourse(courseData.id)" *ngIf="!isEnrolled(courseData)">Enroll for this course</button>
    <h1 class="course-title">{{ courseData.title }}</h1>
    <p class="course-teacher">By {{ courseData.teacher.full_name }}</p>
    <p class="course-description">{{ courseData.description }}</p>

    <h2 class="section-title">Course Sections</h2>
    <ul class="section-list">
      <li *ngFor="let section of courseData.sections" class="section-item">
        <h3 class="section-heading">{{ section.title }}</h3>
        <ul class="video-list">
          <li *ngFor="let video of section.videos" class="video-item">
            <div class="video-controls">
              <app-video-player *ngIf="video.showPlayer" [videoId]="extractVideoId(video.video_url)"></app-video-player>
              <button class="play-button" (click)="toggleVideoPlayer(video)">
                {{ video.showPlayer ? 'Close' : 'Play' }}
              </button>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <div>
      <h3>Send a Message to {{ courseData.teacher.full_name }}</h3>
      
      <form (submit)="sendMessage()">
          <div class="form-group">
              <label for="subject">Subject:</label>
              <input type="text" id="subject" name="subject" [(ngModel)]="message.subject" required>
          </div>
          <div class="form-group">
              <label for="content">Message:</label>
              <textarea id="content" name="content" [(ngModel)]="message.content" required></textarea>
          </div>
          <div *ngIf="messageSent" class="alert alert-success mt-3">
            {{ messageSent }}
          </div>
          <button type="submit">Send</button>
      </form>
  </div>
  
  </div>
</div>
