<div *ngIf="message" class="alert alert-success mt-3">
  {{ message }}
</div>

<div class="login-container mt-3">
  <h2>Login</h2>
  <!-- Login form -->
  <form #form="ngForm" (ngSubmit)="Login(form.value)">
    <div class="form-group">
      <input type="text" class="custom-input" placeholder="Email ID" ngModel name="email" #email="ngModel">
    </div>
    <div class="form-group">
      <input type="password" class="custom-input" placeholder="Password" ngModel name="password" #password="ngModel">
    </div>
    <button class="custom-button" type="submit">Login</button>
  </form>

  <div class="create-account">
    <p>Don't have an account?</p>
    <a routerLink="/signup" class="custom-link">Sign Up</a>
  </div>
</div>
