/* Add your custom styles here */

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  color: #fcf8f8;
}

.create-course {
  
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h2 {
  font-size: 28px;
  margin-bottom: 20px;
  
}

.course-form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  font-size: 16px;
 
}

.custom-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  
}

.custom-input::placeholder {
  color: #aaa;
}

textarea.custom-input {
  height: 150px;
}

.custom-button {
  background-color: #007bff;
  color: #fff;
  font-size: 18px;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.custom-button:hover {
  background-color: #0056b3;
}
