
<section class="landing">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h1>Welcome to Our E-Learning Platform</h1>
          <p>Start your journey to knowledge!</p>
          <div class="cta-buttons">
            <a routerLink="/signup" class="btn btn-primary btn-lg">Sign Up</a>
            <a routerLink="/login" class="btn btn-outline-primary btn-lg">Log In</a>
          </div>
        </div>
        <div class="col-md-6">
          <!-- You can add an image or video here -->
          <img src="https://img.freepik.com/free-photo/aesthetic-dark-wallpaper-background-neon-light_53876-128291.jpg?w=740&t=st=1694106578~exp=1694107178~hmac=7234fdfb2bba83d7bef81da6b52f0bcd13093dae79e28db207abb539207a3020" alt="E-Learning Image" class="img-fluid" />
        </div>
      </div>
    </div>
  </section>
  