<div *ngIf="userData">
    <h2>Welcome, {{ userData.first_name }} {{ userData.last_name }}!</h2>
    <!-- Other dashboard content -->
  </div>

<div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <!-- Sidebar with navigation options -->
        <div class="list-group">
          <a routerLink="/coursecategory" class="list-group-item list-group-item-action">Browse Courses by Category</a>
          <a href="#" class="list-group-item list-group-item-action">Search Courses</a>
          <a href="#" class="list-group-item list-group-item-action">Enrolled Courses</a>
          <!-- Add more options as needed -->
        </div>
      </div>
      <div class="col-md-8">
        <!-- Content area to display course lists, search results, or enrolled courses -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  
<button class="btn btn-danger" (click)="signout()">Sign Out</button>
