<app-navbar></app-navbar>

<div class="dashboard-container">
  <div class="sidebar">
    <div class="sidebar-header">
      <h2>Dashboard Menu</h2>
    </div>
    <ul class="sidebar-menu">
      <li>
        <a routerLink="/coursecategory">Browse Courses by Category</a>
      </li>
      <li>
        <a href="#">Search Courses</a>
      </li>
      <li>
        <a href="#">Enrolled Courses</a>
      </li>
      <!-- Add more options as needed -->
    </ul>
  </div>
  <div class="content">
    <!-- Content area to display course lists, search results, or enrolled courses -->
    <div *ngIf="userData" class="welcome-message">
      <p>Welcome, {{ userData.first_name }} {{ userData.last_name }}!</p>
      <!-- Other dashboard content -->
      <button class="btn btn-primary" routerLink="/create-course">Create Course</button>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
